@if (isLoading) {
<div class="spinner-container">
    <mat-spinner></mat-spinner>
</div>
}
@if(!isLoading){
<div class="book-grid">
    @for (book of books; track book.key) {
    <div class="book-item">
        <a (click)="viewDetails(book)">
            <img [src]="book.cover_id ? 'https://covers.openlibrary.org/b/id/' + book.cover_id + '-M.jpg' : defaultCover"
                alt="Book Cover" class="book-cover" />
            <p>Title: {{ book.title }}</p>
        </a>
        <p>Published: {{ book.first_publish_year }}</p>
        <p><strong>Author(s)</strong>:
            @for (author of book.authors; track author.key;) {
            @if(author.key){
            <a [routerLink]="['/author', author.key]">
                {{ author.name }}
            </a>
            <br/>
            }
            }
        </p>
        <a (click)="viewDetails(book)" class="more-button">More</a>
    </div>
    }
</div>

}